@font-face {
  font-family: 'Streamster';
  src: url('/fonts/streamster.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Outrun Future';
  src: url('/fonts/outrun-future.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Neon 80s';
  src: url('/fonts/neon.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Good Times';
  src: url('/fonts/good-times-rg.ttf');
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  /* text-align: center; */
  font-family: Neon 80s, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ffffff;
  background-color: #000000;
}

.scheduledot {
  background-color: #66e900;
  box-shadow: 0px 0px 4px #66e900;
}

button.SigninButton {
  font-family: 'Neon 80s';
  width: 125px;
  color: #66e900;
  border: 2px solid #66e900;
  @apply p-2;
}

@media (max-width: 600px) {
  div.Navbar {
    display: none !important;
  }

  div.SidebarMobile {
    display: flex !important;
    flex-direction: column;
    justify-content: left;
    position: relative;
  }

  a.logo {
    display: flex;
    align-content: left;
    margin: 10px;
  }

  div.SidebarLinks {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    position: fixed;
    font-size: 25px;
    background-color: #000000;
    margin-top: 80px;
    padding: 30px;
  }

  div.link {
    font-family: 'Neon 80s';
    padding: 8px 0px 15px 16px;
    cursor: pointer;
  }

  span {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 10px;
  }

  span.speakerdot {
    background-color: #ffd600;
    box-shadow: 0px 0px 4px #ffd600;
  }

  span.sponsordot {
    background-color: #ff00e5;
    box-shadow: 0px 0px 4px #ff00e5;
  }

  span.faqdot {
    background-color: #00e0ff;
    box-shadow: 0px 0px 4px #00e0ff;
  }

  div.Jumbotron {
    justify-content: center !important;
    align-content: center;
    width: 100% !important;
    margin: -10px;
    margin-bottom: 50px !important;
  }

  div.date {
    margin-top: 50px !important;
  }

  div.TitleScreen {
    margin-top: -50px !important;
    background-size: contain, cover, cover;
    background-position-y: 335px, 70px, 100px !important;
  }

  h1.Eventname {
    font-size: 300% !important;
  }

  h3.subTitle {
    font-size: 130% !important;
  }

  div.joinButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px !important;
    background-size: 100% 100% !important;
  }

  button.HackerButton {
    margin: 10px !important;
  }

  button.MentorButton {
    margin: 10px !important;
  }

  button.SponserButton {
    margin: 10px !important;
  }

  div.date {
    display: flex;
    margin-top: 150px;
    font-size: 150% !important;
  }

  div.Stats {
    display: flex !important;
    flex-direction: column !important;
    justify-items: center !important;
  }

  div.Statsright {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 0 !important;
    margin-bottom: 50px;
  }

  div.statsOne {
    width: 150px;
    background-size: 100% 100% !important;
  }

  div.AboutHackUTD {
    display: flex;
    text-align: left;
  }

  /*FAQ css for mobile*/
  h4.faqTitle {
    display: none;
  }

  h4.faqTitle-mobile {
    display: flex !important;
    justify-content: center;
    text-align: center !important;
    margin: 0 !important;
    font-family: 'Good Times';
    font-size: 56px;
    color: #00e0ff;
    text-shadow: 0px 4px 4px #ad00ff;
  }

  div.faqs {
    width: 80% !important;
    flex-direction: column !important;
    text-align: center !important;
    margin-top: 10px;
  }

  div.leftFacts {
    width: 100% !important;
    margin: 0 !important;
  }

  div.rightFacts {
    width: 100% !important;
    margin: 0 !important;
  }

  .homeLogo {
    display: none;
  }

  .video {
    zoom: 0.85;
    -moz-transform: scale(0.85);
    -moz-transform-origin: top center;
    -o-transform: scale(0.85);
    -o-transform-origin: top center;
    -webkit-transform: scale(0.85);
    -webkit-transform-origin: top center;
  }

  .sponsorsTitle {
    font-size: 40px !important;
  }

  .speakersTitle {
    font-size: 40px !important;
  }

  .scheduleTitle {
    font-size: 40px !important;
  }
}

@media (max-width: 450px) {
  div.joinButtons {
    margin-top: -25px;
  }

  div.statsOne {
    background: none;
    margin-left: -20%;
  }

  div.statsTwo {
    background: none;
    margin-left: -40px;
  }

  div.statsThree {
    background: none;
    margin-left: -60px;
  }

  .video {
    zoom: 0.7 !important;
    -moz-transform: scale(0.7) !important;
    -moz-transform-origin: top center;
    -o-transform: scale(0.7) !important;
    -o-transform-origin: top center;
    -webkit-transform: scale(0.7) !important;
    -webkit-transform-origin: top center;
  }

  div.TitleScreen {
    background-position-y: 338px, 70px, 100px !important;
  }

  button.HackerButton {
    font-size: 15px !important;
    width: 250px !important;
    height: 55px !important;
  }

  .sponsorsTitle {
    font-size: 30px !important;
  }

  .speakersTitle {
    font-size: 30px !important;
  }

  .scheduleTitle {
    font-size: 30px !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Good Times';
  border-radius: 45%;
  background-color: #000000;
  text-shadow: 0px 0px 6px #00e0ff;
}

div.SidebarMobile {
  display: none;
}

div.Navbar {
  padding: 1%;
  position: relative;
  text-align: center;
  width: 100%;

  font-family: 'Neon 80s';
  font-style: normal;
  font-weight: normal;
  font-size: 115%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

div.leftNav {
  display: flex;
  justify-content: space-around;
  flex-basis: 300px;
  align-items: center;
}

a.link {
  /* padding-right: 30px; */
  font-family: 'Neon 80s';
  align-items: center;
  justify-content: center;
  display: flex-center;
  padding: 0px 1rem;
  /* @apply px-4; */
}

@media (max-width: 900px) {
  a.link {
    padding: 0px 0.5rem !important;
  }
  button.SigninButton {
    width: 100px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  h1.Eventname {
    font-size: 600% !important;
  }
  div.date {
    font-size: 300% !important;
  }
}

img {
  margin-right: 30px;
}

button.SigninButton {
  /* border-radius: 15% !important; */
  font-family: 'Neon 80s';
  color: #66e900;
  border: 2px solid #66e900;
}

div.Jumbotron {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
}

div.TitleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-image: url('/assets/dallas.svg'), url('/assets/sun.svg'),
    url('/assets/night-sky-desktop.svg');
  background-position-x: center;
  background-position-y: 240px, -50px, top;
  background-size: absolute, absolute, cover !important;
  background-repeat: no-repeat;
}

h1.Eventname {
  user-select: none;
  font-family: 'Good Times';
  font-size: 8rem;
  text-shadow: 8px 3px 4px #000000;
  margin: 0;
}

h2.ACMname {
  user-select: none;
  font-family: 'Streamster';
  text-shadow: 0px 3px 8px #ff00e5;
  color: transparent;
  background-image: linear-gradient(to right, #e500f3, #a70761 70%);
  background-clip: text;
  margin: 0;
  margin-bottom: -30px;
  font-size: 40px;
}

h3.subTitle {
  user-select: none;
  font-family: 'Outrun Future';
  font-style: normal;
  font-weight: normal;
  color: #00c3ff;
  text-shadow: 12px -12px 2px #ae00ff6c;
  background-image: linear-gradient(to right, #48bae4, #006cd1);
  background-clip: text;
  margin: 0;
  font-size: 35px;
}

div.joinButtons {
  padding-top: 30px;
  background-image: url('/assets/ground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  height: 20rem;
}

button.HackerButton {
  color: #00e0ff;
  border: 2px solid #00e0ff;
  border-radius: 90px;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  width: 350px;
  height: 80px;
  box-shadow: 0px 0px 6px #00e0ff;
}

button.MentorButton {
  color: #66e900;
  border: 2px solid #66e900;
  border-radius: 90px;
  font-size: 25px/1.2;
  padding: 10px;
  margin: 10px;
  margin-top: -30px;
  width: 350px/1.2;
  height: 80px/1.2;
  box-shadow: 0px 0px 6px #00e0ff;
}

button.SponserButton {
  color: #ffd600;
  border: 2px solid #ffd600;
  border-radius: 90px;
  font-size: 25px/1.2;
  padding: 10px;
  margin: 10px;
  margin-top: 10px;
  width: 350px/1.2;
  height: 80px/1.2;
  box-shadow: 0px 0px 6px #00e0ff;
}

div.date {
  padding-top: 150px;
  font-family: 'Good Times';
  font-size: 4rem;
  color: #ffd600;
  text-shadow: 0px 4px 4px #ff00e5;
  justify-content: center;
  align-self: center;
  padding-bottom: 50px;
}

div.Stats {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.Statsright {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  justify-content: center;
}

/* div.video {
  padding-right: 2%;
} */

.statsOne {
  font-size: 180%;
  background: url('/assets/ring-accent.svg');
  background-position: center;
  background-size: 100% 100%;
}

.statsTwo {
  font-size: 180%;
  width: 150px;
  background: url('/assets/ring-accent.svg');
  background-position: center;
  background-size: 100% 100%;
}

.statsThree {
  font-size: 180%;
  width: 150px;
  background: url('/assets/ring-accent.svg');
  background-position: center;
  background-size: 100% 100%;
}

h5.Info {
  color: #ff00e5;
  font-family: 'Neon 80s';
  margin-bottom: 1px;
}

h6.Info {
  color: #00e0ff;
  font-family: 'Neon 80s';
  margin-top: 1px;
}

div.AboutHackUTD {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  margin: 0;
  margin-top: 3%;
  margin-bottom: 25px;
  padding: 10px;
}

h4.Subtitle {
  font-family: 'Good Times';
  font-size: larger;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  color: #00e0ff;
  text-shadow: 0px 4px 4px #ff0000;
  max-width: 950px;
}

p.paragraph {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 950px;
  font-family: 'Neon 80s';
  font-style: normal;
  font-size: larger;
}

/* This point on is css conserning faq page*/
div.mainFAQSContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: left;
}

h4.faqTitle-mobile {
  display: none;
}

h4.faqTitle {
  width: 700px;
  font-family: 'Good Times';
  font-size: 56px;
  line-height: 67px;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 50px;
  color: #00e0ff;
  text-shadow: 0px 4px 4px #ad00ff;
}

div.faqs {
  width: 1250px;
  font-family: 'Neon 80s';
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.leftFacts {
  width: 40%;
  margin-right: 5%;
}

div.rightFacts {
  width: 40%;
  margin-left: 5%;
}

div.facts {
  display: flex;
  flex-direction: column;
  font-family: 'Neon 80s';
}

div.facts:hover {
  cursor: pointer;
}

div.faqMiniTitles {
  display: flex;
  flex-direction: row;
}

h3.answers {
  font-size: 17px;
}

/*End for css conserning faq page*/

/*css for other pages*/
.sponsorsMainPage {
  display: flex;
  flex-direction: column;
  font-family: 'Neon 80s';
}

.sponsorsTitle {
  display: flex;
  font-size: 56px;
  line-height: 67px;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 50px;
  font-family: 'Good Times';
  color: #ff00e5;
  text-shadow: 0px 4px 4px #00e0ff;
}

.speakersMainPage {
  display: flex;
  flex-direction: column;
  font-family: 'Neon 80s';
}

.speakersTitle {
  display: flex;
  justify-content: center;
  font-size: 56px;
  line-height: 67px;
  margin-top: 37px;
  margin-bottom: 37px;
  font-family: 'Good Times';
  color: #ffd600;
  text-shadow: 0px 4px 4px #ff0000;
}

.scheduleMainPage {
  display: flex;
  flex-direction: column;
  font-family: 'Neon 80s';
}

.scheduleTitle {
  display: flex;
  font-size: 56px;
  line-height: 67px;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 50px;
  font-family: 'Good Times';
  color: #66e900;
  text-shadow: 0px 4px 4px #ff00e5;
}

.footer {
  background: repeating-radial-gradient(#d871a67a, #28b2bf7a);
  width: 100%;
  height: 3rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-family: 'Good Times';
  font-size: larger;
  display: flex-center;
  justify-content: center;
  align-items: center;
}

h5 {
  font-size: 30px;
}

.typeform {
  width: 100%;
  height: 40rem;
  color: #ffffff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  font-family: 'Neon 80s';
  border: 2px solid #66e900;
  /* border-radius: 15% !important; */
}

.dropdownButton {
  color: #66e900 !important;
}

.dropdown-menu {
  font-family: 'Neon 80s';
  border: 2px solid #66e900;
  color: #66e900 !important;
}
